# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.pyc
.venv/

# Env
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Test
test.db
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Docker
.docker/
